.weatherForecast {
  text-align: center;
  display: inline;
  margin-top: 15px;
}
span {
  display: inline;
}
.weatherForecast-temperature-max {
  color: #3a3b3d;
}
.weatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
.weatherForecast-day {
  opacity: 0.8;
  font-weight: 500;
}
